.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 20vh;
  background-color: antiquewhite;
}

.container {
  display: flex;
  width: 70%;
  height: 100vh;
  
}

.left, .right {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}



.h1{
  padding-top: 8%;
  font-style: italic;
}