.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 20vh;
}


.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.left, .right {
  flex: 1;
  padding: 100%;
  box-sizing: border-box;
}

.left {
  background-color: lightgray;
}

.right {
  background-color: lightblue;
}
